.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    background-color: #252525;
}

.header_logo {
    height: 100px;
    object-fit: contain;
}

.header__input {
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
    flex: 0.4;
}

.header__input>input {
    flex: 1;
    font-size: larger;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__left {
    display: flex;
    flex: 0.3;
    align-items: center;
}

.header__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-evenly;
    flex: 0.3;
}

.header__button {
    color: gray;
    border-left: 1px solid grey;
    background-color: #F8F8F8;
    width: 2em;
}