.SearchPage {
    flex: 0.8;
    padding: 20px 20px;
}

.SearchPage__filter {
    display: flex;
    align-items: center;
    color: #606060;
    font-size: xx-small;
}

.SearchPage__filter>h2 {
    margin-left: 10px;
}

.SearchPage>hr {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    height: 1px;
    border: 0;
}